body {
    font-family: 'Open Sans', Helvetica, sans-serif;
}

.btn,
.btn:link,
.btn:visited {
    border-color: #111;
    border-radius: 0.25em;
    border-style: solid;
    border-width: 1px;
    color: #111;
    display: inline-block;
    font-family: 'Open Sans', Helvetica, sans-serif;
    letter-spacing: 0.15em;
    margin-bottom: 0.5em;
    padding: 1em 1.5em;
    text-decoration: none;
    text-transform: uppercase;
    -webkit-transition: color 0.4s, background-color 0.4s, border 0.4s;
    transition: color 0.4s, background-color 0.4s, border 0.4s;
}

.btn:hover {
    color: #7FDBFF;
    border: 1px solid #7FDBFF;
    -webkit-transition: background-color 0.3s, color 0.3s, border 0.3s;
    transition: background-color 0.3s, color 0.3s, border 0.3s;
}

.btn:active {
    color: #0074D9;
    border: 1px solid #0074D9;
    -webkit-transition: background-color 0.3s, color 0.3s, border 0.3s;
    transition: background-color 0.3s, color 0.3s, border 0.3s;
}

.btn--white,
.btn--white:link,
.btn--white:visited {
    border-radius: 0.25em;
    border-style: solid;
    border-width: 1px;
    color: white;
    display: inline-block;
    font-family: 'Open Sans', Helvetica, sans-serif;
    letter-spacing: 0.15em;
    margin-bottom: 0.5em;
    padding: 1em 1.5em;
    text-decoration: none;
    text-transform: uppercase;
    -webkit-transition: color 0.4s, background-color 0.4s, border 0.4s;
    transition: color 0.4s, background-color 0.4s, border 0.4s;
}

.btn--white:hover {
    color: #7FDBFF;
    border: 1px solid #7FDBFF;
    -webkit-transition: background-color 0.3s, color 0.3s, border 0.3s;
    transition: background-color 0.3s, color 0.3s, border 0.3s;
}

.btn--white:active {
    color: #0074D9;
    border: 1px solid #0074D9;
    -webkit-transition: background-color 0.3s, color 0.3s, border 0.3s;
    transition: background-color 0.3s, color 0.3s, border 0.3s;
}

.btn--heading,
.btn--heading:link,
.btn--heading:visited {
    /*border-radius: 0.25em;
    border-style: solid;
    border-width: 1px;*/
    color: #111;
    display: inline-block;
    font-size: 0.5em;
    font-family: 'Open Sans', Helvetica, sans-serif;
    letter-spacing: 0.15em;
    /*margin-bottom: 0.5em;*/
    padding: 1em 1em;
    text-decoration: none;
    text-transform: uppercase;
    -webkit-transition: color 0.4s, background-color 0.4s, border 0.4s;
    transition: color 0.4s, background-color 0.4s, border 0.4s;
}

.btn--heading:hover {
    color: #7FDBFF;
    /*border: 1px solid #7FDBFF;*/
    -webkit-transition: background-color 0.3s, color 0.3s, border 0.3s;
    transition: background-color 0.3s, color 0.3s, border 0.3s;
}

.btn--heading:active {
    color: #0074D9;
    /*border: 1px solid #0074D9;*/
    -webkit-transition: background-color 0.3s, color 0.3s, border 0.3s;
    transition: background-color 0.3s, color 0.3s, border 0.3s;
}


a {
    transition: color .4s;
    color: #265C83;
}

a:link,
a:visited {
    color: #265C83;
}

a:hover {
    color: #7FDBFF;
}

a:active {
    transition: color .3s;
    color: #007BE6;
}

::selection {
    background: #39CCCC;
}

::-moz-selection {
    background: #39CCCC;
}

#student ::selection {
    background: rebeccapurple;
    color: white;
}

#student ::-moz-selection {
    background: rebeccapurple;
    color: white;
}

.jumbotron {
    background: white;
}

.navy {
    background-color: #001f3f;
    color: white;
}

.bg-teal {
    background-color: #39CCCC;
}

.bg-purple {
    background-color: rebeccapurple;
}