body {
}
.jumbotron {
    background-image: url(seattle.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

#hi {
    font-family: "Helvetica Neue";
    font-size: 500%;
    text-align: center;
}

#isaac {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 50%;
    width: 50%;
}

.am {
    font-family: "Helvetica Neue";
}

.fm {
    font-family: "Helvetica Neue";
    margin-bottom: auto;
}