---
layout: default
---

<div class="home container">

  <h1><span class="name">Isaac Lee</span></h1>
  <ul class="list-inline">
    <li style="margin-left: -1.8em;" class="list-inline-item"><a href="https://github.com/isaacrlee"><i class="fa fa-github-alt fa-2x" aria-hidden="true"></i></a></li>
    <li class="list-inline-item"><a href="https://www.linkedin.com/in/isaaclee34/"><i class="fa fa-linkedin fa-2x" aria-hidden="true"></i></i></a></li>
    <li class="list-inline-item"><a href="https://resume.creddle.io/resume/79sk95xk46a">Resume</i></a></li>
  </ul>

  {{ content }}

  <ul class="post-list">
    {% for post in site.posts %}
      <li>
        <h2 class="sticky">
          <span class="yellow-bg">
            <a class="post-link">{{ post.title | escape }}</a>
          </span>
        </h2>
        <p>{{ post.content }}</p>
      </li>
    {% endfor %}
  </ul>

</div>
